body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #626CCE;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: #35424a;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background: #00635A;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;